[Desktop Entry]
Type=Application
Name=__TASKFLOW_NAME__
Comment=Gestor de tareas local
Exec=__TASKFLOW_EXEC__
Path=__TASKFLOW_DIR__
Icon=__TASKFLOW_ICON__
Terminal=false
Categories=Utility;
StartupNotify=true
